/* tablets */
@media (max-width: 991px) {
    main {
        flex-direction: column;
        padding-block-start: 32px;
        gap: 50px;
        width: 100%;
    }

    header {
        top: 16px
    }

    header h1 {
        margin-block: 20px 10px;
    }
}




/* mobile */

@media (max-width: 768px) {
    body {
        display: flex;
        /* justify-content: center; */
        width: 100%;
    }

    main {
        width: 100%;
        padding-block-start: 24px;
        /* padding-inline: 24px; */
        /* gap: 24px; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding-inline-start: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 100px;
    }

    header img {
        width: 38.667px;
        height: 40px;
    }

    header h1 {
        margin-block: 16px 8px;
        font-size: 30px;
    }

    .shown {
        display: none;
    }

    .hidden {
        display: block;
    }

    header p {
        font-size: 16px;
        font-weight: 300;
    }




    section {
        width: 327px;
        height: fit-content;
        /* margin-inline-start: 16px; */
        padding: 16px 16px 16px 16px;
        display: flex;
        /* justify-content: center; */
    }

    section form {
        display: block;
        margin-bottom: 0%;
    }

    [type="text"],
    select,
    [type="date"],
    [name="activity-level"],
    [type="password"],
    button {
        width: 295px;
    }

    .password img {
        left: 270px;
    }

    section div {
        margin-block-start: 24px;
    }

    .main-footer {
        display: none;
    }

    .mobile-footer {
        margin-top: 0%;
        display: block;
        text-align: center;
        margin-left: 0%;
        position: relative;
        top: -20px;
    }
}